.hexagon{
    position: relative;
    display: inline-block;
    z-index: 1;
}
.hexagon_text {
    position: inherit;
}
.hexagon_text::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    display: inline-block;
    clipPath: polygon(6% 0, 94% 0, 100% 50%, 94% 100%, 6% 100%, 0% 50%);
    border-top: 5px solid var(--white);
    border-bottom: 5px solid var(--white);
    background-color: var(--navy-blue);
    border-left: 0;
    border-radius: 0;
    transition: clipPath .3s ease,  border .3s ease;
}
.hexagon_text::after{
    content: '';
    position: absolute;
    top: 0;
    left: -5px;
    right: -5px;
    z-index: -3;
    height: 100%;
    display: inline-block;
    clipPath: polygon(6% 0, 94% 0, 100% 50%, 94% 100%, 6% 100%, 0% 50%);
    background-color: var(--white);
    transition: clipPath .3s ease;
}
.hexagon_text.active:hover::before{
    clipPath: polygon(0 0, 100% 1%, 100% 50%, 100% 100%, 0 100%, 0% 50%);
    border: 5px solid ;
}
.hexagon_text.active:hover::after{
    clipPath: polygon(0 0, 100% 1%, 100% 50%, 100% 100%, 0 100%, 0% 50%);
    left: 0;
    right: 0;
}